Repository groundsgg/grounds-dev: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, yamllint, check-yaml, check-script-permissions, check-makefile, check-k3d-config, check-helm-charts, check-kubernetes-manifests, check-documentation, check-security

shellcheck:
  name: ShellCheck
  entry: shellcheck
  language: system
  args:
  - --severity=style

yamllint:
  name: YAML Lint
  entry: yamllint
  language: system
  args:
  - --config-file=.yamllint

check-yaml:
  name: Check YAML
  entry: yamllint
  language: system
  args:
  - --format=parsable

check-script-permissions:
  name: Check Script Permissions
  entry: bash
  language: system
  args:
  - -c
  - test -x "$1" || (echo "Script $1 is not executable" && exit 1)

check-makefile:
  name: Check Makefile
  entry: make
  language: system
  args:
  - help

check-k3d-config:
  name: Check k3d Configuration
  entry: bash
  language: system
  args:
  - -c
  - k3d cluster create test --config cluster/k3d.yaml --dry-run || exit 1

check-helm-charts:
  name: Check Helm Charts
  entry: helmfile
  language: system
  args:
  - lint

check-kubernetes-manifests:
  name: Check Kubernetes Manifests
  entry: kubectl
  language: system
  args:
  - apply
  - --dry-run=client
  - --validate=true

check-documentation:
  name: Check Documentation
  entry: bash
  language: system
  args:
  - -c
  - test -f README.md || (echo "README.md not found" && exit 1)

check-security:
  name: Security Scan
  entry: bash
  language: system
  args:
  - -c
  - grep -r -i "password\|secret\|key" . --exclude-dir=.git --exclude="*.md" | grep -v "app/app" | grep -v "localhost" && (echo "Potential hardcoded secrets found" && exit 1) || true

fix: Remove Open Match from README.md
  README.md
Due: check-documentation

fix: Resolve linting errors
  cluster/bootstrap.sh
  scripts/install-prereqs.sh
  scripts/kubehelpers.sh
  scripts/wait-for-crds.sh
Due: shellcheck, check-script-permissions, check-security

fix: Resolve linting errors
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  .yamllint
  cluster/k3d.yaml
  helmfile.yaml
  manifests/dummy-http-server.yaml
  values/agones.values.yaml
  values/postgresql.values.yaml
Due: yamllint, check-yaml, check-k3d-config, check-helm-charts, check-kubernetes-manifests, check-security

chore: Remove k3d dry-run check
  .github/workflows/lint.yml
Due: yamllint, check-yaml, check-security

chore: Remove unneeded pre-commit config
  .pre-commit-config.yaml
Due: yamllint, check-yaml, check-security

feat: Export kubeconfig during `make up`
  Makefile
  README.md
  cluster/bootstrap.sh
Due: shellcheck, check-script-permissions, check-makefile, check-documentation, check-security

fix: Delete kubeconfig during `make clean`
  Makefile
Due: check-makefile

feat: Add devspace installation to prerequisites script
  scripts/install-prereqs.sh
Due: shellcheck, check-script-permissions, check-security

fix: improve deployment and mitigate port conflicts
  .env.example
  .gitignore
  Makefile
  README.md
  cluster/bootstrap.sh
  cluster/k3d.yaml
  helmfile.yaml
  manifests/dummy-http-server.yaml
  values/agones.values.yaml
  values/postgresql.values.yaml
Due: shellcheck, yamllint, check-yaml, check-script-permissions, check-makefile, check-k3d-config, check-helm-charts, check-kubernetes-manifests, check-documentation, check-security

fix: create api namespace during bootstrap
  README.md
  cluster/bootstrap.sh
Due: shellcheck, check-script-permissions, check-documentation, check-security

feat: add kubeconfig to kubectx
  Makefile
  cluster/bootstrap.sh
Due: shellcheck, check-script-permissions, check-makefile, check-security

fix: Modify kubeconfig setup
  cluster/bootstrap.sh
Due: shellcheck, check-script-permissions, check-security

feat: add ghcr.io pull secret
  .env.example
  README.md
  cluster/bootstrap.sh
Due: shellcheck, check-script-permissions, check-documentation, check-security

feat: keycloak
  Makefile
  README.md
  cluster/bootstrap.sh
  manifests/keycloak-db-secret.yaml
  manifests/keycloak-operator-catalog.yaml
  manifests/keycloak-operator-subscription.yaml
  manifests/keycloak-operatorgroup.yaml
  manifests/keycloak.yaml
  manifests/traefik-keycloak-headers-middleware.yaml
  scripts/deploy-keycloak.sh
  scripts/install-prereqs.sh
  values/postgresql.values.yaml
Due: shellcheck, yamllint, check-yaml, check-script-permissions, check-makefile, check-kubernetes-manifests, check-documentation, check-security

feat: expose via traefik
  manifests/keycloak.yaml
  manifests/traefik-keycloak-ingressroute.yaml
  manifests/traefik-keycloak-servers-transport.yaml
  scripts/deploy-keycloak.sh
Due: shellcheck, yamllint, check-yaml, check-script-permissions, check-kubernetes-manifests, check-security

Refactor logging functions and fix installation
  .github/workflows/lint.yml
  cluster/bootstrap.sh
  scripts/common.sh
  scripts/install-prereqs.sh
  scripts/kubehelpers.sh
  scripts/wait-for-crds.sh
  values/agones.values.yaml
Due: shellcheck, yamllint, check-yaml, check-script-permissions, check-security

Fix all shellcheck findings
  cluster/bootstrap.sh
Due: shellcheck, check-script-permissions, check-security

Remove custom os handling and do not try to install docker
  Makefile
  scripts/install-prereqs.sh
Due: shellcheck, check-script-permissions, check-makefile, check-security

Remove lots of unnecessary comments
  .gitignore
  .shellcheckrc
  .yamllint
  Makefile
  cluster/bootstrap.sh
  cluster/k3d.yaml
  helmfile.yaml
  scripts/install-prereqs.sh
  scripts/kubehelpers.sh
  scripts/wait-for-crds.sh
Due: shellcheck, yamllint, check-yaml, check-script-permissions, check-makefile, check-k3d-config, check-helm-charts, check-security

Remove kubectx logic
  cluster/bootstrap.sh
Due: shellcheck, check-script-permissions, check-security

Fix imagePullSecrets for GHCR
  cluster/bootstrap.sh
Due: shellcheck, check-script-permissions, check-security

Cleanup (#1)
  .github/workflows/lint.yml
  .gitignore
  .shellcheckrc
  .yamllint
  Makefile
  cluster/bootstrap.sh
  cluster/k3d.yaml
  helmfile.yaml
  scripts/common.sh
  scripts/install-prereqs.sh
  scripts/kubehelpers.sh
  scripts/wait-for-crds.sh
  values/agones.values.yaml
Due: shellcheck, yamllint, check-yaml, check-script-permissions, check-makefile, check-k3d-config, check-helm-charts, check-security

Add simple valkey deployment
  helmfile.yaml
  values/valkey.values.yaml
Due: yamllint, check-yaml, check-helm-charts, check-security

Remove obsolete descriptions form the README
  README.md
Due: check-documentation

chore: cleanup and refactor
  .github/workflows/lint.yml
  .gitignore
  .shellcheckrc
  .yamllint
  Makefile
  cluster/bootstrap.sh
  cluster/k3d.yaml
  helmfile.yaml
  scripts/common.sh
  scripts/install-prereqs.sh
  scripts/kubehelpers.sh
  scripts/wait-for-crds.sh
  values/agones.values.yaml
Due: shellcheck, yamllint, check-yaml, check-script-permissions, check-makefile, check-k3d-config, check-helm-charts, check-security

feat: add Valkey (#2)
  README.md
  helmfile.yaml
  values/valkey.values.yaml
Due: yamllint, check-yaml, check-helm-charts, check-documentation, check-security

docs: add GitHub Packages (Maven) authentication instructions
  README.md
Due: check-documentation

docs: add GitHub Packages (Maven) authentication instructions (#3)
  README.md
Due: check-documentation

feat: setup agones properly with all its dependencies to run gameservers
  Makefile
  cluster/bootstrap.sh
  helmfile.yaml
  manifests/serviceaccount-velocity.yaml
  scripts/create-velocity-secret.sh
  values/agones.values.yaml
Due: shellcheck, yamllint, check-yaml, check-script-permissions, check-makefile, check-helm-charts, check-kubernetes-manifests, check-security

feat: setup agones properly with all its dependencies to run gameservers (#4)
  Makefile
  cluster/bootstrap.sh
  helmfile.yaml
  manifests/serviceaccount-velocity.yaml
  scripts/create-velocity-secret.sh
  values/agones.values.yaml
Due: shellcheck, yamllint, check-yaml, check-script-permissions, check-makefile, check-helm-charts, check-kubernetes-manifests, check-security

feat: add external access for Velocity with dedicated TCP entrypoint
  cluster/k3d.yaml
  manifests/velocity-external-access.yaml
Due: yamllint, check-yaml, check-k3d-config, check-kubernetes-manifests, check-security

feat: add external access for Velocity with dedicated TCP entrypoint (#5)
  cluster/k3d.yaml
  manifests/velocity-external-access.yaml
Due: yamllint, check-yaml, check-k3d-config, check-kubernetes-manifests, check-security

chore: add license
  LICENSE
  README.md
Due: check-documentation

chore: add license (#6)
  LICENSE
  README.md
Due: check-documentation

feat: update k8s to 1.35
  cluster/k3d.yaml
Due: yamllint, check-yaml, check-k3d-config, check-security

feat: update k8s to 1.35 (#7)
  cluster/k3d.yaml
Due: yamllint, check-yaml, check-k3d-config, check-security

feat: add nats
  README.md
  helmfile.yaml
  values/nats.values.yaml
Due: yamllint, check-yaml, check-helm-charts, check-documentation, check-security

feat: add nats (#8)
  README.md
  helmfile.yaml
  values/nats.values.yaml
Due: yamllint, check-yaml, check-helm-charts, check-documentation, check-security

feat: add local TLS with mkcert and sslip.io for subdomain-based ingress
  .env.example
  .gitignore
  Makefile
  cluster/bootstrap.sh
  manifests/dummy-http-server.yaml
  scripts/install-prereqs.sh
  scripts/setup-certs.sh
  scripts/trust-ca-windows.sh
Due: shellcheck, yamllint, check-yaml, check-script-permissions, check-makefile, check-kubernetes-manifests, check-security

feat: add keycloak with OLM operator and sslip.io ingress
  Makefile
  README.md
  cluster/bootstrap.sh
  manifests/keycloak-db-secret.yaml
  manifests/keycloak-operator-catalog.yaml
  manifests/keycloak-operator-subscription.yaml
  manifests/keycloak-operatorgroup.yaml
  manifests/keycloak.yaml
  manifests/traefik-keycloak-headers-middleware.yaml
  manifests/traefik-keycloak-ingressroute.yaml
  manifests/traefik-keycloak-servers-transport.yaml
  scripts/deploy-keycloak.sh
  scripts/install-prereqs.sh
  scripts/setup-certs.sh
  values/postgresql.values.yaml
Due: shellcheck, yamllint, check-yaml, check-script-permissions, check-makefile, check-kubernetes-manifests, check-documentation, check-security

Path conditions:
  shellcheck: any of: \.sh$
  yamllint: any of: \.(yaml|yml)$
  check-yaml: any of: \.(yaml|yml)$
  check-script-permissions: any of: \.sh$
  check-makefile: any of: ^Makefile$
  check-k3d-config: any of: ^cluster/k3d\.yaml$
  check-helm-charts: any of: ^helmfile\.yaml$
  check-kubernetes-manifests: any of: ^manifests/.*\.yaml$
  check-documentation: any of: ^README\.md$
  check-security: any of: \.(sh|yaml|yml)$
